@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(1deg, #90a9f100, #001835);
}

.bigger-box{
    background-color: #000000;
    opacity: 0.8;
    border-radius:25px;
    padding:20px;
    width: 95%;
    max-width:450px;
}

.input-city{
    border:none;
    outline:none;
    padding:10px;
    border-radius: 25px ; 
    font-size: 20px;
    background-color:#7c7c7c2b;
    color:#fff;
    width:calc(100% - 80px)
}

.btn-search{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.img-search{
    width:20px;
    filter: invert(100);
}

.middle-box{
    margin-top:30px;
}

#city{
    color: #fff;
    font-size: 28px;
    font-weight: 400;
}

#weather{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

.little-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#text{
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}

#air{
    color: #fff;
    margin-top: 20px;
}
